@using DevExtreme.AspNet.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductCataLog.Lib.ViewModels.GalleryMappingViewModel
@{
    ViewData["Title"] = string.Format(Drishanindustries.Common.Common.PageName, Drishanindustries.Common.Common.AppName, "Blog");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <!-- Topbar -->
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-6">
                <div class="card-body">
                    <form class="needs-validation" method="post" id="frmBlogsDetail" novalidate>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>Blog Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtImagetitle" placeholder="Blog Title" tabindex="1" asp-for="Gallery_Mapping.CM_varTitle">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>Short Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="txtBlogShortDescription" placeholder="Blog Short Description" tabindex="2" asp-for="Gallery_Mapping.CM_varShortDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="txtBlogDescription" placeholder="Blog Description" tabindex="3" asp-for="Gallery_Mapping.CM_varContent"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="red">*</span>Image Url</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" id="txtBlogUrl" placeholder="Blog path" tabindex="4" asp-for="Gallery_Mapping.varGalleryURL">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Status:</label>
                            <div class="col-sm-3">
                                <input type="checkbox" id="chkStatus" tabindex="5" asp-for="Gallery_Mapping.charActive" />
                            </div>
                        </div>
                        @* <button type="submit" class="btn btn-primary" tabindex="6">Submit</button>
                        <button type="submit" class="btn btn-dark" tabindex="7">Cancel</button> *@

                        <button type="button" id="btnSave" tabindex="6" class="btn btn-primary" onclick="return ValidateData()">Save</button>
                        <button type="button" id="btnCancel" tabindex="7" class="btn btn-secondary" onclick="return resetValidation()">Cancel</button>

                        <input type="hidden" asp-for="@Model.Gallery_Mapping.CTM_intGlCode" id="ref_ContentTypeId" />
                        <input type="hidden" asp-for="@Model.Gallery_Mapping.CM_intGlCode" id="ref_ContentId" />
                        <input type="hidden" asp-for="@Model.Gallery_Mapping.charActive" id="chrActive" />                        
                        <input type="hidden" asp-for="@Model.Gallery_Mapping.PM_intGlCode" id="ref_GalleryId" />
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<br />
<!---Container Fluid-->
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Blogs</h6>
                    <button type="button" class="btn btn-primary">Download</button>
                </div>
                <div class="table-responsive p-3">                   
                    @(Html.DevExtreme().DataGrid()
                        .ID("grdBlogsDetials")
                        .ShowBorders(true)
                        .DataSource(ds => ds.Mvc().Controller("Utility").Key("ref_ContentTypeId").LoadAction("GetGalleryMappingList"))
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .LoadPanel(f => f.Enabled(false))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("CM_intGlCode").Caption("Edit").Type(GridCommandColumnType.Buttons)
                            .Width(50)
                            .Buttons(b =>
                            {
                                b.Add().Name(GridColumnButtonName.Edit).Visible(true).Icon("edit").OnClick("editdata");

                            });
                            columns.Add().DataField("CM_varTitle").Caption("Title");
                            columns.Add().DataField("CM_varShortDescription").Caption("Short Description");
                            columns.Add().DataField("GM_varGalleryURL").Caption("Image");
                            columns.Add().DataField("GM_chrActive").Caption("Status");
                           @*  columns.Add().DataField("dtEntryDate").Caption("Entry Date").Format("yyyy-mm-dd"); *@

                        })
                        .ColumnAutoWidth(true)
                        .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Standard))
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowInfo(true);
                        })
                        .Sorting(sorting => sorting.Mode(DevExtreme.AspNet.Mvc.GridSortingMode.Multiple))
                        .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                        )
                        .HeaderFilter(headerFilter => headerFilter.Visible(true))
                        .WordWrapEnabled(true)

                        )
                </div>
            </div>
        </div>
    </div>

</div>
<!---Container Fluid-->
@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/Scripts/Account/Common.js"></script>
    <script src="~/Scripts/Utility/Blogs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script type="text/javascript">
        $('#txtBlogDescription').summernote({
            placeholder: 'Message',
            tabsize: 2,
            height: 400,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
}
